/*
 * Copyright (c) 2019-2020, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;

#include "qcs404.dtsi"
#include "qcs405-wsa-audio-overlay.dtsi"
#include "qcs405-circular-pca9956.dtsi"

/ {
	model = "MarkT, Inc. QCS404 IF-S1300N";
	compatible = "qcom,qcs404-iot", "qcom,qcs404", "qcom,iot";
	qcom,board-id = <0x010020 0x3>;
	markt,model-name = "NL-S700KRL";

	aliases {
		uart0 = &blsp1_uart4_hs;    // /dev/ttyHS0 : WCNS3980
		uart1 = &blsp2_uart1_hs;    // /dev/ttyHS1 : LED Display (TM1652)
		uart2 = &blsp1_uart1_hs;    // /dev/ttyHS2 : IR
	};
};


&soc {
    pwm-leds {
	compatible = "pwm-leds";
	
		ledsec1_r: pwm_led@11 {
			label = "ledsec1_r";
			max_brightness = <255>;
			pwms = <&pdm_pwm1 0 10000>;
			linux,default-trigger = "default-on";
			//linux,default-trigger = "heartbeat";
			//linux,default-trigger = "none";
			markt,led-index = <1>;
		};

		ledsec1_g: pwm_led@12 {
			label = "ledsec1_g";
			max_brightness = <255>;
			pwms = <&pdm_pwm1 1 10000>;
			linux,default-trigger = "default-on";
			//linux,default-trigger = "heartbeat";
			//linux,default-trigger = "none";
			markt,led-index = <2>;
		};

		ledsec1_b: pwm_led@21 {
			label = "ledsec1_b";
			max_brightness = <255>;
			pwms = <&pdm_pwm2 0 10000>;
			linux,default-trigger = "default-on";
			//linux,default-trigger = "heartbeat";
			//linux,default-trigger = "none";
			markt,led-index = <3>;
		};

		ledsec2_r: pwm_led@23 {
			label = "ledsec2_r";
			max_brightness = <255>;
			pwms = <&pdm_pwm2 2 10000>;
			linux,default-trigger = "default-on";
			//linux,default-trigger = "heartbeat";
			//linux,default-trigger = "none";
			markt,led-index = <4>;
		};

		ledsec2_g: pwm_led@1 {
			label = "ledsec2_g";
			max_brightness = <255>;
			pwms = <&pdm_pwm0 0 10000>;
			linux,default-trigger = "default-on";
			//linux,default-trigger = "heartbeat";
			//linux,default-trigger = "none";
			markt,led-index = <5>;
		};

		ledsec2_b: pwm_led@2 {
			label = "ledsec2_b";
			max_brightness = <255>;
			pwms = <&pdm_pwm0 1 10000>;
			linux,default-trigger = "default-on";
			//linux,default-trigger = "heartbeat";
			//linux,default-trigger = "none";
			markt,led-index = <6>;
		};
		
	};
};


&gpio_keys {
    vdd-supply = <&pms405_l12>;
    vdd-voltage = <3300000 3300000>;
    vdd-cureent = <15000>;
    
    vol_up {
        label = "vol_up";
        gpios = <&tlmm 104 GPIO_ACTIVE_LOW>;
        linux,input-type = <1>;
        linux,code = <KEY_VOLUMEUP>;
        debounce-interval = <90>;
        gpio-key,wakeup;
    };    

    vol_down {
        label = "vol_down";
        gpios = <&tlmm 105 GPIO_ACTIVE_LOW>;
        linux,input-type = <1>;
        linux,code = <KEY_VOLUMEDOWN>;
        debounce-interval = <90>;
        gpio-key,wakeup;
    };

    snooze {
        label = "snooze";
        gpios = <&tlmm 106 GPIO_ACTIVE_LOW>;
        linux,input-type = <1>;
        linux,code = <256>;
        debounce-interval = <90>;
        gpio-key,wakeup;
    };

    vol_mute {
        label = "vol_mute";
        gpios = <&tlmm 107 GPIO_ACTIVE_LOW>;
        linux,input-type = <1>;
        linux,code = <KEY_MUTE>;
        debounce-interval = <90>;
        gpio-key,wakeup;
    };

    bluetooth {
        label = "bluetooth";
        gpios = <&tlmm 109 GPIO_ACTIVE_LOW>;
        linux,input-type = <1>;
        linux,code = <257>;
        debounce-interval = <90>;
        gpio-key,wakeup;
    };

};

&ep92a6_hdmi_64 {
    status = "disabled";
};

&wcd9xxx_intc {
    status = "disabled";
};

&wcd9335 {
    status = "disabled";
};

&emac_hw {
    status = "disabled";
};

&qnand_1 {
	status = "ok";
};

&wsa881x_0211 {
    status = "disabled";
};

&wsa881x_0212 {
    status = "disabled";
};

&wsa881x_0214 {
    status = "disabled";
};

&lineout_booster_gpio {
    status = "disabled";
};

&lineout_booster_active {
    status = "disabled";
};

&lineout_booster_sleep {
    status = "disabled";
};

&cdc_dmic23_gpios {
    status = "disabled";
};

&cdc_dmic45_gpios {
    status = "disabled";
};

&cdc_dmic67_gpios {
    status = "disabled";
};

&quat_mi2s_gpios {
    status = "disabled";
};

&tdm_sen_rx {
    status = "disabled";
};

&tdm_sen_tx {
    status = "disabled";
};

&qcs405_snd {
    qcom,cdc-dmic01-gpios = <&cdc_dmic01_gpios>;
    qcom,cdc-dmic23-gpios = <0>;
    qcom,cdc-dmic45-gpios = <0>;
    qcom,cdc-dmic67-gpios = <0>;
    qcom,lineout-booster-gpio = <0>;
    qcom,spdif-audio-intf = <0>;
    qcom,wcn-btfm = <0>;
    qcom,tasha-codec = <0>;
    qcom,wsa-max-devs = <1>;
    qcom,wsa-devs = <&wsa881x_0213>;
    qcom,wsa-aux-dev-prefix = "SpkrLeft";
    asoc-codec = <&stub_codec>, <&bolero>;
    asoc-codec-names = "msm-stub-codec.1", "bolero_codec";
    qcom,audio-routing =
        "VA DMIC0", "VA MIC BIAS1",
        "VA MIC BIAS1", "Digital Mic0",
        "VA DMIC1", "VA MIC BIAS1",
        "VA MIC BIAS1", "Digital Mic1",
        "SpkrLeft IN", "WSA_SPK1 OUT",
        "WSA_SPK1 OUT", "VA_MCLK";
};

&tlmm {
	evb_tlmm_gpio_key{
		tlmm_gpio_key_active: tlmm_gpio_key_active {
			mux {
				pins = "gpio104", "gpio105", "gpio106", "gpio107", "gpio109";
			};

			config {
				pins = "gpio104", "gpio105", "gpio106", "gpio107", "gpio109";
			drive-strength = <2>;
			bias-pull-up;
			};
		};

		tlmm_gpio_key_suspend: tlmm_gpio_key_suspend {
			mux {
				pins = "gpio104", "gpio105", "gpio106", "gpio107", "gpio109";
			};

			config {
				pins = "gpio104", "gpio105", "gpio106", "gpio107", "gpio109";
			drive-strength = <2>;
			bias-disable;
			};
		};
	};
};

&wsa_macro {
    markt,ldo-gpios = <&tlmm 63 GPIO_ACTIVE_LOW>;
};


&cdsp_fw_mem {
	reg = <0x0 0x88600000 0x0 0x600000>;
};

&wlan_msa_mem {
	reg = <0x0 0x88C00000 0x0 0x100000>;
};

&blsp2_uart1_active {
    mux {
        pins = "gpio26", "gpio27";
        function = "blsp_uart5";
    };
    config {
        pins = "gpio26", "gpio27";
        drive-strength = <2>;
        bias-disable;
    };
};

&blsp2_uart1_sleep {
    mux {
        pins = "gpio26", "gpio27";
        function = "gpio";
    };
    config {
        pins = "gpio26", "gpio27";
        drive-strength = <2>;
        bias-disable;
    };
};

&blsp2_uart1_hs {
    status = "okay";
	
	tm1652 {
		compatible = "markt,tm1652";
		baudrate = <19200>;
	};
	
};


&blsp1_uart1_active {
    mux {
        pins = "gpio30", "gpio31";
        function = "blsp_uart0";
    };
    config {
        pins = "gpio30", "gpio31";
        drive-strength = <2>;
        bias-disable;
    };
};

&blsp1_uart1_sleep {
    mux {
        pins = "gpio30", "gpio31";
        function = "gpio";
    };
    config {
        pins = "gpio30", "gpio31";
        drive-strength = <2>;
        bias-disable;
    };
};

&blsp1_uart1_hs {
    status = "okay";
	qcom,set-autosuspend-delay = <20000>; // 20sec
};

&i2c_3 {
    status = "okay";

    veml6030: veml6030@10 {
        compatible = "vishay,veml6030";
        reg = <0x10>;
	interrupt-parent = <&tlmm>;
	interrupts = <21 IRQ_TYPE_LEVEL_LOW>;
    };
};

&pdm_pwm0 {
	status  = "okay";
	pinctrl-names = "pwm_led_act", "pwm_led_sus";
	pinctrl-0 = <&pwm_led1_active &pwm_led2_active>;
	pinctrl-1 = <&pwm_led1_sleep &pwm_led2_sleep>;
};

&pdm_pwm1 {
	status  = "okay";
	pinctrl-names = "pwm_led_act", "pwm_led_sus";
	pinctrl-0 = <&pwm_led11_active &pwm_led12_active>;
	pinctrl-1 = <&pwm_led11_sleep &pwm_led12_sleep>;
};

&pdm_pwm2 {
	status  = "okay";
	pinctrl-names = "pwm_led_act", "pwm_led_sus";
	pinctrl-0 = <&pwm_led21_active &pwm_led23_active &pwm_led24_active>;
	pinctrl-1 = <&pwm_led21_sleep &pwm_led23_sleep &pwm_led24_sleep>;
};

&usb3 {
    status = "disabled";
};

&usb_ss_phy {
    status = "disabled";
};

&usb2_phy1 {
    status = "disabled";
};

